*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding-bottom: 100px;
}

.main {
  /* flex: 1; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 400px;
}

.paid {
  display: flex;
  align-items: center;
  width: 450px;
  flex-direction: column;
  padding: 30px 0;
}

.paid__info {
  width: 420px;
}

.paid__title {
  padding-bottom: 15px;
}

.paid__amount {
  margin-bottom: 40px;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 420px;
}

.payment-methods__item {
  height: 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  border-radius: 10px;
}

.payment-methods__link {
  display: block;
  height: 100%;
}

.payment-methods__card {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.payment-methods__info {
  display: flex;
  align-items: center;
}

.payment-methods__logo {
  width: 40px;
  height: 40px;
}

.payment-methods__name {
  padding-left: 10px;
}

.payment-methods__chevron {
  width: 40px;
  height: 40px;
}

.footer {
}
